body {
  background: #1D8DC2;
  margin: 0px;
  padding: 0px;
  font-family: helvetica;
  font-size: 25px;
  color: white;
  width: 100%;
}

  header {
    display:block;
    background: #026AA7;
    height: 50px;
    padding: 0px;
    width: 100%;
  }

  header > img {
    height: 30px;
    margin-right: 400px;
    margin-left: 400px;
    width: 100px;
  }

  nav > button {
    background: none;
    border: none;
    color: #fff;
    font-size: 15px;
    margin: 10px;
    width: 100px;
  }

  .tableros {
    font-family: helvetica;
    text-decoration: none;
    padding: 10px;
    font-weight: 60;
    font-size: 15px;
    color: #ffffff;
    background-color: #67A6CA;
    border-radius: 3px;
  }

   .tableros:hover {
    color: #ffffff;
    background-color: #3588B9;
    cursor: pointer;
  }

  button {
    text-decoration: none;
    padding: 10px;
    padding-left: 150px;
    font-weight: 60;
    font-size: 15px;
    color: #ffffff;
    background-color: #67A6CA;
    border-radius: 3px;
    border-style: none;
  }

   button:hover {
    color: #ffffff;
    background-color: #3588B9;
    cursor: pointer;
  }

  a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    font-weight: 60;
    font-size: 15px;
    color: #ffffff;
    background-color: #67A6CA;
    border-radius: 3px;
  }

   a:hover {
    color: #ffffff;
    background-color: #3588B9;
    cursor: pointer;
  }

  p {
    margin-right: 100px;
    color: white;
  }

.hide-button {
  display: none;
}


/*
    .trello {
      text-decoration: none;
      padding: 0px;
      padding-left: 150px;
      font-weight: 10;
      font-size: 15px;
      color: #ffffff;
      background-color: #67A6CA;
      border-radius: 3px;
      border-style: none;
    }

     .trello:hover {
      color: #ffffff;
      background-color: #3588B9;
      cursor: pointer;
    }
*/
